In [2]:
import pandas as pd

In [18]:
my_data_ic = pd.read_csv('../ClusterInput/InputFile_IC_DDM.csv')
my_data_ec = pd.read_csv('../ClusterInput/InputFile_EC_DDM.csv')
my_data_gd = pd.read_csv('../ClusterInput/InputFile_GD_DDM.csv')

In [31]:
my_data_gd = my_data_gd.rename(columns={"npp": "npp_group"})

In [32]:
my_data_gd

,model,ntrials,npp_group,mean_v,mean_a,mean_z,mean_t,std_v,std_a,std_z,std_t,par_ind,TypeIerror,nreps,full_speed,output_folder
0,ddm,80,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS...
1,ddm,240,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
2,ddm,400,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
3,ddm,560,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
4,ddm,720,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,ddm,80,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
71,ddm,240,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
72,ddm,400,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
73,ddm,560,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
74,ddm,720,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN

In [33]:
my_data_gd.to_csv("../ClusterInput/InputFile_GD_DDM.csv", index = False)

In [35]:
new_test = pd.read_csv('../ClusterInput/InputFile_GD_DDM.csv')

In [36]:
new_test

,model,ntrials,npp_group,mean_v,mean_a,mean_z,mean_t,std_v,std_a,std_z,std_t,par_ind,TypeIerror,nreps,full_speed,output_folder
0,ddm,80,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS...
1,ddm,240,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
2,ddm,400,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
3,ddm,560,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
4,ddm,720,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,ddm,80,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
71,ddm,240,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
72,ddm,400,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
73,ddm,560,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
74,ddm,720,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN

In [26]:
new_test.rename(columns = {"npp_group": "npp"})

,model,ntrials,npp,mean_v,mean_a,mean_z,mean_t,std_v,std_a,std_z,std_t,par_ind,TypeIerror,nreps,full_speed,output_folder
0,ddm,80,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS...
1,ddm,240,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
2,ddm,400,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
3,ddm,560,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
4,ddm,720,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,ddm,80,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
71,ddm,240,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
72,ddm,400,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
73,ddm,560,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
74,ddm,720,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN

In [28]:
my_data_gd.equals(new_test)

True

In [12]:
my_data_ic

,model,ntrials,npp,mean_v,mean_a,mean_z,mean_t,std_v,std_a,std_z,std_t,tau,nreps,full_speed,output_folder
0,ddm,80,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS...
1,ddm,240,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
2,ddm,400,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
3,ddm,560,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
4,ddm,720,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,ddm,80,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
71,ddm,240,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
72,ddm,400,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
73,ddm,560,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
74,ddm,720,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN

In [16]:
my_data_ic.iloc[10,:].to_frame().transpose().to_dict()

{'model': {10: 'ddm'},
 'ntrials': {10: 80},
 'npp': {10: 120},
 'mean_v': {10: 0},
 'mean_a': {10: 1.18},
 'mean_z': {10: 0.5},
 'mean_t': {10: 0.5},
 'std_v': {10: 0.05},
 'std_a': {10: 0.33},
 'std_z': {10: 0.1},
 'std_t': {10: 0.25},
 'tau': {10: 0.8},
 'nreps': {10: 500},
 'full_speed': {10: 1},
 'output_folder': {10: nan}}

In [17]:
my_data_ic.iloc[10,:].to_frame().transpose()

,model,ntrials,npp,mean_v,mean_a,mean_z,mean_t,std_v,std_a,std_z,std_t,tau,nreps,full_speed,output_folder
10,ddm,80,120,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN

In [3]:
my_data_ic.output_folder.unique()

array(['D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS/COMPASS_DDM/results/test3/',
       nan], dtype=object)

In [4]:
my_data_ec.output_folder.unique()

array(['D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS/COMPASS_DDM/results/test5_EC/',
       nan], dtype=object)

In [5]:
my_data_gd.output_folder.unique()

array(['D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS/COMPASS_DDM/results/test_Multi/',
       nan], dtype=object)

In [6]:
def my_fun(**kwargs):
    kwargs['model'] = 'hello'
    print('model' in kwargs)
    my_fun2(**kwargs)
    return

def my_fun2(**kwargs):
    print(kwargs)

In [7]:
my_fun(**{'a': 1, 'b': 2})

True
{'a': 1, 'b': 2, 'model': 'hello'}

In [8]:
my_data_ic

,model,ntrials,npp,mean_v,mean_a,mean_z,mean_t,std_v,std_a,std_z,std_t,tau,nreps,full_speed,output_folder
0,ddm,80,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS...
1,ddm,240,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
2,ddm,400,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
3,ddm,560,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
4,ddm,720,40,0,1.18,0.5,0.5,0.05,0.33,0.1,0.25,0.8,500,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,ddm,80,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
71,ddm,240,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
72,ddm,400,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
73,ddm,560,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN
74,ddm,720,200,0,1.18,0.5,0.5,0.30,0.33,0.1,0.25,0.8,500,1,NaN

In [10]:
my_data_gd

,model,ntrials,npp,mean_v,mean_a,mean_z,mean_t,std_v,std_a,std_z,std_t,par_ind,TypeIerror,nreps,full_speed,output_folder
0,ddm,80,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,D:/horiz/IMPORTANT/0study_graduate/Pro_COMPASS...
1,ddm,240,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
2,ddm,400,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
3,ddm,560,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
4,ddm,720,40,"0,0.06",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,ddm,80,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
71,ddm,240,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
72,ddm,400,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
73,ddm,560,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN
74,ddm,720,200,"0,0.24",1.18,0.5,0.5,"0.3,0.3",0.33,0.1,0.25,0,0.05,500,1,NaN